body {
    background-color: #F6CFB6;
}

.header {
    background-color:#141414;
    height: 70px;
    background-repeat: repeat-x;
    
}

h1{
    color:red(177, 120, 231)
    font-family:fantasy;
    font-weight: fantacy 

}

button{

}


